.custom-sidebar {
    width: 250px;
    min-width: 250px;
    min-height: 100vh;
    background: #304A2F;
    position: relative;
    padding: 25px 12px;
    box-sizing: border-box;
    flex-shrink: 0;
    
}

/* LOGO */
.custom-sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 10px 5px 25px;
    border-bottom: 1px solid rgba(255,255,255,0.25);
}

.custom-sidebar-logo img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    flex-shrink: 0;
}

.custom-sidebar-logo span {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: normal;
    transform: translateY(6px);
}

/* MENU */
.custom-menu {
    list-style: none;
    padding: 0;
    margin: 25px 0 0;
}

.custom-menu-title {
    color: #A7BD82;
    font-size: 12px;
    font-weight: bold;
    margin: 25px 20px 12px;
}

.custom-menu li {
    margin-bottom: 8px;
}

.custom-menu a {
    display: flex;
    align-items: center;
    gap: 18px;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.2s;
}

.custom-menu a:hover,
.custom-menu a.active {
    background: #6b8A5d;
    color: #ffffff;
}

.custom-menu i {
    width: 22px;
    text-align: center;
    font-size: 18px;
    flex-shrink: 0;
}

.custom-divider {
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.25);
    margin: 18px 12px;
}


